.search-wrapper {
  background-color: white;
  display: flex;
}

.search-contents {
  width: 90%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 30px;
  background-color: white;
}

.search-left {
  margin: 30px 0;
  padding: 20px;
  background-color: white;
}

.search-left h2 {
  font-size: 26px;
  font-weight: bold;
  padding: 10px 0 0 10px;
}

.search-right {
  margin: 30px 0 0 30px;
  flex-wrap: wrap;
}

.search-group {
  padding: 20px;
  position: relative;
}

.seach-icon {
  position: absolute;
  top: 70px;
}

.search-group i, .search-group h3 {
  margin-right: 10px;
  color: white;
}

.search-group ul li label {
  color: white;
}

.name-field {
  width: 90%;
  padding: 10px;
}

.group-select {
  width: 100%;
  padding: 20px;
}

.search-btn {
  width: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin-left: 20px;
  background-color: red;
  font-size: 22px;
  margin-bottom: 30px;
}

.result-list {
  width: 200px;
  height: 300px;
  margin: 0 35px 30px 0;
  background-color: white;
}

.result-image img {
  width: 200px;
  height: 200px;
}

.result-text {
  padding: 10px;
}

.no-result {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
}

.search-title {
  color: white;
  background-color: #dfffe3;
  padding-bottom: 0;
  padding-top: 0;
  letter-spacing: 3px;
  color: #000;
  font-weight: bold;
  margin-top: 30px;
}

.search-contents h1 {
  position: relative;
  background: #dfffe3;
  box-shadow: 0px 0px 0px 5px #dfffe3;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
  margin: 20px;
  padding: 15px;
  width: 400px;
  font-weight: bold;
  font-size: 28px;
  height: 50px;
  letter-spacing: 3px;
}

.search-right-content {
  width: 100%;
}