.item-detail-wrapper {
  display: flex;
}

.item-detail-contents {
  width: calc(100% - 300px);
  margin: 0 auto;
  margin: 30px 0;
}

.item-detail-contents h1 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}

.item-images {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.item-images img {
  width: 500px;
  height: 500px;
}

.edit-delete {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;
  background-color: #fff;
}

.edit-btn, .delete-btn {
  width: 60%;
  border-radius: 10px;
  border: solid 1px #000;
  font-size: 26px;
  padding: 10px;
}

.edit-btn {
  margin-right: 20px;
  background-color: red;
}

.edit-btn a {
  color: white;
}

.edit-btn a:hover {
  color: white;
}

.delete-btn {
  background-color: #eee;
}

.edit-btn a:hover, .delete-btn a:hover {
  text-decoration: none;
}

.good-btn {
  width: 250px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;
  background-color: #fff;
  font-size: 18px;
}

.good-btn a:hover {
  text-decoration: none;
}

.item-detail-info {
  margin: 0 auto;
  margin-bottom: 30px;
}

.item-detail-table {
  width: 700px;
  margin: 0 auto;
}

.item-detail-info tr, .item-detail-info td {
  border: solid 1px #000;
}

.detail-title {
  width: 25%;
  padding: 30px;
  font-size: 15px;
  text-align: center;
  background-color: #eee;
}

.detail-value {
  width: 80%;
  padding: 30px;
  font-size: 17px;
  background-color: #fff;
}

.comment-area {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  background-color: antiquewhite;
  padding: 30px;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.comment-btn {
  width: 50%;
  background-color: #ffa500;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
  padding: 20px;
}

.comment-btn:hover {
  background-color: #ffa500;
}

.comments-area {
  margin-top: 30px;
}

.fa-arrow-alt-circle-left {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  left: -100px;
  top: 200px
}

.fa-arrow-alt-circle-right {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  right: -100px;
  top: 200px
}

.balloon-left {
  position: relative;
  background-color: #ffc4c4;
  padding: 10px;
  color: #333;
  margin: 15px;
  text-align: left;
  width: 75%;
}

.balloon-left::before {
  content: "";
  position: absolute;
  border: 12px solid transparent;
  border-right: 12px solid #ffc4c4;
  top: 20%;
  left: -24px;
}

.balloon-left p {
  margin: 0;
  padding: 0;
}

.comment-name {
  font-size: 20px;
  font-weight: bold;
}

.balloon-right {
  position: relative;
  background-color: #adff2f;
  padding: 10px;
  color: #333;
  width: 90%;
  text-align: left;
  margin-left: 30px;
  width: 75%;
  left: 100px;
  margin-bottom: 20px;
}

.balloon-right::before {
  content: "";
  position: absolute;
  border: 12px solid transparent;
  border-left: 12px solid #adff2f;
  top: 20%;
  left: 100%;
}

.balloon-right p {
  margin: 0;
  padding: 0;
}

.login-btn {
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #fff;
  display: block;
  background-color: #ffa500;
}

.login-btn:hover {
  color: #fff;
  opacity: 0.8;
}

.red-heart {
  color: red;
}