header {
  background-image: linear-gradient( 135deg, #69FF97 10%, #00E4FF 100%);
}

.head-title h2{
  font-size: 26px;
}

.header-contents {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.head-contents {
  width: 400px;
}

.head-contents p, .logout {
  margin-right: 30px;
}

.mypage-head-contents span {
  font-size: 26px;
  letter-spacing: 5px;
}

.input-search {
  width: 300px;
  padding: 5px;
}

.fa-search-plus {
  position: absolute;
  right: 330px;
  top: 35px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.header-lists {
  margin: 15px 0;
  display: flex;
}

.header-lists li {
  margin-right: 20px;
}

footer {
  height: 100px;
  background-image: linear-gradient( 135deg, #69FF97 10%, #00E4FF 100%);
}