<header>
  <div class="header-contents">
    <div class="head-title">
      <h2>TRADE APP</h2>
    </div>
    <div class="head-contents">
      <p><%= current_user.nickname %>さん。こんにちは</p>
    </div>
  </div>
</header>