<%= render "shared/post_header" %>

<div class="items-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">商品情報編集</h2>
    <%= render partial: 'form', locals: { picture: @picture } %>
  </div>
</div>

<%= render "shared/footer" %>