<%= render 'shared/header' %>

<div class="item-detail-wrapper">
  <div class="item-detail-contents">
    <h1>乃木坂46 生写真 齋藤飛鳥　変形ブラウス　ヨリ</h1>
    <div class="item-images">
    </div>
    <div class="good-btn">
      <i class="far fa-heart"></i>
      <a href="#">いいね（０）</a>
    </div>
    <div class="item-detail-info">
      <table class="item-detail-table">
        <tr>
          <th class="detail-title">aaaaaaaaaaaa</th>
          <td class="detail-value">aaaaaaaaaaaa</td>
        </tr>
        <tr>
          <th class="detail-title">aaaaaaaaaaaa</th>
          <td class="detail-value">aaaaaaaaaaaa</td>
        </tr>
        <tr>
          <th class="detail-title">aaaaaaaaaaaa</th>
          <td class="detail-value">aaaaaaaaaaaa</td>
        </tr>
        <tr>
          <th class="detail-title">aaaaaaaaaaaa</th>
          <td class="detail-value">aaaaaaaaaaaa</td>
        </tr>
      </table>
    </div>
    <div class="comment-area">
      <form>
          <textarea class="comment-text" placeholder="commetn"></textarea>
          <button type="submit" class="comment-btn">
            <i class="fas fa-comment-alt"></i>
            コメントする
          </button>
      </form>
      <div class="comments-area">
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>